* {
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--prime-color-1: white;
}


a {
	text-decoration: none;
	color: white; 
}

.left-contain{
	display: flex;
}

body {
	overflow-x: hidden;
}

.text1 {
	font-family: Geneva, Arial;
	color: white;
	text-align: center;
}

nav ul, .logo h1{
	list-style-type: none;
	color: white;
	font-size: 16px;
	font-family: Geneva, Arial;
}

.logo h1{
	font-weight: bolder;
	font-size: 25px;
}

.logo {
	margin-right: 30px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 11%;
	height: 80px;
	position: fixed;
	width: 100%;
	background-color: black;
}

nav li {
	display: inline-block;
	padding: 10px 40px;
	height: 100%;
	transition: all .3s linear;
	border-radius: 7px;
}

nav li:hover {
	background-color: white;
	color: black;
}

.search img {
	width:50px; 
	height: 50px

}

.search img:hover {
	transform: scale(1.25);
	transition: all .1s linear;
}

.panel1-container {
	height: 900px;
	background-color: white;
	padding-top: 80px;
	width: 100%;
}


.content-container {
	padding: 150px 20px 250px;
	display: flex;
	align-items: center;
	flex: 2 1 auto;
	height: 100%;

}

.title-text{
	font-size: 48px;
	font-family: Geneva, Arial;
	font-weight: bolder;
	margin-bottom: 10px;
	text-align: center;
}

.left-content {
	padding-left: 70px;
	flex: 0 0 55%;
	max-width: 60%
}

.right-content {
	width: 100%;
}

.bottom-text {
	font-family: Geneva, Arial;
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 20px;
	text-align: center;
}

hr.hr1{
	border: 2.5px solid black;
	border-radius: 2.5px;
	margin-bottom: 15px;
}

.button {
	display: flex;
	width: 150px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	margin-left: calc(50% - 75px);
	transition: all .3s linear;
}

.button:hover {
	background-color: #555555;
}

.button h1 {
	font-family: Geneva, Arial;
	font-size: 18px;

}

.right-content {
	padding-left: 50px;
}

.tech-pic{
	height: calc(100vh + 105px);
	width: 110%;
}

.panel2-container {
	height: 100vh;
	background-color: black;
	padding: 80px 50px 0px;
	width: 100%;
}

.grid-container{
	display: grid;
	grid-template-rows: 400px;
	grid-template-columns: 350px 350px 350px;
	justify-content: space-between;
	align-content: space-between;
	margin-top: 30px;
}

.grid{
	padding: 25px 0px;
}

.paragraph-text{
	text-align: center;
}

.hr2{
	border: 2.5px solid white;
	border-radius: 2.5px;
	margin-bottom: 29px;
}

.panel3-container{
	height: 50vh;
	padding: 50px 0px;
	width: 100%;
}

.panel4-container{ 
	height: 100vh;
	background-color: black;
	padding: 75px 0px; 
	width: 100%;
}

.top-text{
	margin: 0px 0px 15px 0px;
	font-family: Geneva, Arial;
	font-weight: bolder;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

.carousel-container {
	display: flex;
	padding-bottom: 25px;
	height: 100%;
	justify-content: space-between;
}

.left-button, .right-button {
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.left-button:hover, .right-button:hover{
	transform: scale(1.25);
	transition: all .1s linear;
	cursor: pointer;
}

.carousel-content {
	width: 50%;
	overflow: hidden;
	display: inline-block;
}

.slides {
	list-style-type: none;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0px;
}

.card{
	display: flex;
	flex: 0 0 100%;
	height: 100%;
	width: 100%;
	transition: all 1s ease;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-contain {
	margin: 0px 75px;
	display: flex;
	justify-content: space-between;
}

.blog-txt {
	text-align: left;
	margin: 0;
	color: white;
}

.p-text {
	text-align: right;
	margin: 0;
	color: white;
	font-size: 15px;
	font-family: Geneva, Arial;
}

.blog-content {
	padding: 30px 0px 30px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3,400px);  /* 3 columns */
  	grid-template-rows: repeat(3,250px);
  	row-gap: 25px; 
}

.blog-panel {
	height: 100%;
	width: 100%;
	background-color: white;
	border-color: black;
	border: 2px solid black;
	border-radius: 15px;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    transition: all .3s linear;
  
}

.blog-panel:hover {
	background-color: #aaaaaa;
}

.footer-cont {
	height: 25vh;
	background-color: white;
	padding: 0px 75px;
}

.logo-cont {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	font-family: Geneva, Arial;
}

.contact-us {
	text-align: center;
	margin-top: 30px;
	color:black;
}

.contact-txt {
	font-family: Geneva, Arial;
	font-size: 14px;
	margin-bottom: 10px;
	
}










